div {
    margin: 20px;
    padding: 10px;
    height: 50px;
    width: 300px;
    border: 5px solid black;
    background-color: yellowgreen;
}

#container-box {
    box-sizing: content-box;
    margin: 20px;
    padding: 10px;
    height: 50px;
    width: 300px;
    border: 5px solid black;
    background-color: yellowgreen;
}